
.main{
  background-color: #f9f7f9;
}

table{
  caption{
    font-weight: bold;
  }
}

.scrollable {
  overflow-y: auto;
  overflow-x: hidden;

  &::-webkit-scrollbar {
    width: 10px; /* ширина scrollbar */
  }

  &::-webkit-scrollbar-track {
    background: #fefefe; /* цвет дорожки */
  }

  &::-webkit-scrollbar-thumb {
    width: 5px;
    border-radius: 5px; /* закругления плашки */
    background-color: #e1e1e1; /* цвет плашки */
    border: 3px solid #fefefe; /* padding вокруг плашки */

  }
}
