<!DOCTYPE html>
<html lang="ru" class="scrollable">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@6.x/css/materialdesignicons.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link rel="stylesheet" href="css/index.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
    <title>Bitrix CRM</title>
</head>
<body>
<div id="app">
    <v-app>
        <v-navigation-drawer
                v-model="drawer"
                app
                temporary
        >
            <v-list nav dense  >
                <v-list-item-group
                        active-class="deep-purple--text text--accent-4" >
                    <v-list-item @click="changeReport(item)" v-for="item in leftMenu" :key="item.id">
                        <v-list-item-title>{{ item.title }}</v-list-item-title>
                    </v-list-item>
                </v-list-item-group>
            </v-list>
        </v-navigation-drawer>
        <v-app-bar     app
                       color="#6A76AB"
                       dark
                       dense
                       hide-on-scroll
                       >
            <v-app-bar-nav-icon @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
            <v-toolbar-title> {{ activeReport.title }}</v-toolbar-title>
            <v-spacer></v-spacer>
            <v-switch v-if="switcher" class="align-self-baseline ma-2" v-model="switcherSumAmount" label="Переключить в количество"></v-switch>
            <template v-slot:extension>
                <v-tabs
                        v-model="tab"
                        v-if="tabMenu"
                >
                    <v-tab
                            v-for="item in tabMenu"
                            :key="item.id">
                        {{ item.menuButton }}
                    </v-tab>
                </v-tabs>
            </template>
        </v-app-bar>

        <v-main class="main">
                    <component v-if="crmData && !crmData.errorStatus && crmData.loadingDataProcess===100"
                           :is="activeReport.module"
                           :crm-data="crmData"
                           :out-put-id="tab"
                           :switcher="switcherSumAmount"
                           @change-tab="changeTab"
                           @loaded="reportLoaded"></component>

        </v-main>
        <v-dialog
                v-if="crmData"
                :value="!crmData.errorStatus && crmData.loadingDataProcess!==100"
                hide-overlay
                persistent
                width="320"
        >
            <v-card>
                <v-card-title>Загрузка данных из Bitrix24</v-card-title>
                <v-card-subtitle>пожалуйста подождите...</v-card-subtitle>
                <v-card-text style="text-align: center">
                    <v-progress-circular
                            :rotate="-90"
                            :size="100"
                            :width="15"
                            :value="crmData.loadingDataProcess"
                            color="primary"
                    >
                        {{ Math.round(crmData.loadingDataProcess) }}%
                    </v-progress-circular>
                </v-card-text>
            </v-card>
        </v-dialog>
        <v-dialog
            v-if="crmData && crmData.errorStatus"
            hide-overlay
            persistent
            width="320"
            :value="errorDialog"
        >
            <v-card>
                <v-card-title>Ошибка</v-card-title>
                <v-card-subtitle>{{ crmData.errorStatus }} </v-card-subtitle>
                <v-card-actions><v-btn color="accent" @click="errorDialog=false">Закрыть</v-btn></v-card-actions>
            </v-card>
        </v-dialog>
    </v-app>
</div>
<!--Vue  -->
<script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
<!--Vuetify -->
<script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
<!--Bitrix API -->
<script src="//api.bitrix24.com/api/v1/"></script>
<!--Apexchart-->
<script src="https://cdn.jsdelivr.net/npm/apexcharts"></script>
<!--Vue обёртка для Apexchart-->
<script src="https://cdn.jsdelivr.net/npm/vue-apexcharts"></script>
<!--модуль с импортом данных из Битрикса-->
<script type="text/javascript" src="js/application.js"></script>
<!--страница с Продажами-->
<script type="text/javascript" src="js/sales.js"></script>
<!--страница с Другое-->
<script type="text/javascript" src="js/avrgCheck.js"></script>
<script>
   new Vue({
        el: '#app',
        vuetify: new Vuetify(),
        components: { Sales, Other: AvrgCheck },
        data(){return {
                crmData: undefined, // объект с данными из Bitrix CRM
                drawer: false, // признак открытия LeftMenu
                tab:0,
                tabMenu: undefined,
                errorDialog: true,
                switcher: false, // необходимость в переключателе
                switcherSumAmount: false,
                leftMenu: [{id:0, title: 'Продажи', module: Sales}, // пункты LeftMenu
                    {id:1, title: 'Средний чек', module: AvrgCheck}],
                activeReport: {id:0, title: 'Продажи', module: Sales} // какой пункт из LeftMenu активен
            }},
        created(){
            // загрузка данных из Битрикса
            BX24.init(()=> {
              this.crmData=new CRMData;
              this.crmData.size=BX24.getScrollSize()
              console.log('this.crmData.size)', this.crmData.size);
            })
        },
       methods:{
            // после загрузки страницы получаем имена табов
           reportLoaded(param){
               const { menu, switcher }= param
               this.tabMenu=menu
               this.switcher=switcher
           },
           changeTab(value){
               this.tab=value
           },
           changeReport(value){
               this.drawer=false // закрываем левое меню
               this.activeReport=value
           }
       },
    })

</script>
</body>
</html>
